# Only for building apk by Github CI workflow

name: Android apk CI

on:
  push:
    branches: [ "master" ]
    paths:
      - '.github/workflows/android.yml'
      - '.github/workflows/android.changelog'
  pull_request:
    branches: [ "master" ]
    paths:
      - '.github/workflows/android_release.yml'
      - '.github/workflows/android.changelog'

jobs:
  build-android:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .

    steps:
      - name: Setup env
        id: env
        run: |
          release=1
          echo "release=${release}" >> $GITHUB_OUTPUT
          echo "version=1.3.1.1304.${release}" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup jdk 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: gradle

      - name: Setup build environment
        run: |
          sudo apt-get update
          sudo apt-get -y install build-essential # libtinfo5

      - name: Ready build
        run: |
          cd ${GITHUB_WORKSPACE}
          chmod +x ./gradlew
          mkdir ./apks

      - name: Build all with Gradle
        id: all
        run: |
          echo "Build release apk"
          ./gradlew assembleRelease
          echo "Copy release apk"
          apk_file=${GITHUB_WORKSPACE}/apks/quake4_${{ steps.env.outputs.version }}.apk
          mv ./quake4/build/outputs/apk/release/quake4-release.apk ${apk_file}
          echo "Clean builds"
          ./gradlew clean
          echo "apk=${apk_file}" >> $GITHUB_OUTPUT

      - name: Build arm64 with Gradle
        id: arm64
        run: |
          echo "Build arm64 release apk"
          ./gradlew assembleRelease -Pabifilters=arm64-v8a
          echo "Copy arm64 release apk"
          apk_file=${GITHUB_WORKSPACE}/apks/quake4_${{ steps.env.outputs.version }}-arm64.apk
          mv ./quake4/build/outputs/apk/release/quake4-release.apk ${apk_file}
          echo "Clean arm64 builds"
          ./gradlew clean -Pabifilters=arm64-v8a
          echo "apk=${apk_file}" >> $GITHUB_OUTPUT

      - name: Build arm32 with Gradle
        id: arm32
        run: |
          echo "Build arm32 release apk"
          ./gradlew assembleRelease -Pabifilters=armeabi-v7a
          echo "Copy arm32 release apk"
          apk_file=${GITHUB_WORKSPACE}/apks/quake4_${{ steps.env.outputs.version }}-armv7.apk
          mv ./quake4/build/outputs/apk/release/quake4-release.apk ${apk_file}
          echo "Clean arm32 builds"
          ./gradlew clean -Pabifilters=armeabi-v7a
          echo "apk=${apk_file}" >> $GITHUB_OUTPUT

      - name: Delete tag and release
        uses: dev-drprasad/delete-tag-and-release@v1.1
        with:
          tag_name: android_apk
          delete_release: true
          repo: glKarin/idtech4amm_quake4_sdk
          github_token: ${{ secrets.TOKEN }}

      - name: Get release date time
        id: release_datetime
        uses: Kaven-Universe/github-action-current-date-time@v1
        with:
          format: "YYYYMMDD-HHmmss"

      - name: Create release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.TOKEN }}"
          automatic_release_tag: android_apk
          prerelease: false
          title: "quake4 apk ${{ steps.env.outputs.version }} build"
          files: |
            ${{ steps.all.outputs.apk }}
            ${{ steps.arm64.outputs.apk }}
            ${{ steps.arm32.outputs.apk }}
